.nav {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  border-bottom: 3px #555 solid;
}

.nav h2 {
  margin-left: 50px;
}

.nav a {
  color: black;
  margin-left: 15px;
  text-decoration: none;
  transition: 0.3s
}

.nav a:hover {
  color: #666;
}